// Place all the styles related to the diary_entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-content {
  background-color: #eee;
  border-color: #999;
  // border-radius:5px;
  border-width: 1px;
  border-style: solid;
  a:link {
    color: #2A6373;
  }
  a:visited {
    color: #2A6373;
  }
  a:hover {
    color: #2A6373;
  }
  a:active {
    color: #2A6373;
  }
}

.title {
  font-weight: bold;
}

.cell {
  display: inline;
  background-color: #fff;
}

.titlerow {
  // background-color: #ddd;
  background-color: #DD8702;
  background-color: #DD9F0A;
}

.footerrow {
  background-color: #2A6373;
  background-color: #122A33;
  a:link {
    color: #DD9F0A;
  }
  a:visited {
    color: #DD9F0A;
  }
  a:hover {
    color: #DD9F0A;
  }
  a:active {
    color: #DD9F0A;
  }
}

#rating .cell {
  font-weight: bold;
}

#notes.row {
  background-color: #ddd;
}

.heading {
  display: inline;
  background-color: #eee;
}

.row #notice {
  background-color: #ded;
}
